.pageHeader {
  height: 40px;
  position: relative;
  text-align: center;

  :global(.arco-page-header-head) {
    display: flex;
    justify-content: center;
  }

  :global(.arco-page-header-back) {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0;
    font-size: large;
    font-weight: 500;
    color: black;
  }
}

.formWrapper {
  margin-left: 500px;
  margin-top: 20px;
  width: 700px;
}

.buttonWrapper {
  .saveButton {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    color: white;
  }

  
  .saveButton:hover {
    border: 1px solid black !important;
    background-color: white !important;
    color: black !important;
  }
}
